<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQrw49Of4YE3X14fCSx-yhmwc0lk7ntmA</string>
	<key>GCM_SENDER_ID</key>
	<string>503730897487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shokhrukhbek.nectar</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-48185</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-48185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503730897487:ios:0d4ba7422bcdf5b677a03a</string>
</dict>
</plist>